<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>it-enterprise</title>
    <style type="text/css">
/*      *, *:before, *:after {
        box-shadow: 0 0 0 1px rgba(0,0,120,0.2);
      }*/
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but it-enterprise doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
