<template>
  <section class="main">
    <Filters />
    <List v-if="isLoaded" />
    <Loading v-if="!isLoaded" />
  </section>
</template>

<script>
  import Filters from './filters.vue'
  import Loading from './loading.vue'
  import List from './list.vue'
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'App',
    components: { Filters, List, Loading },
    computed: mapState({
      isLoaded: 'isLoaded',
    }),
    methods: mapActions({
      loadCourses: 'loadCourses',
    }),
    beforeMount() {
      this.loadCourses()
    }
  }
</script>

<style>
  .main {
    margin-top: 100px;
    padding: 0 150px;
  }
  *, *:before, *:after {
    box-sizing: 'border-box';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body, button, input {
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    font-family: monospace, sans-serif;
  }

  body {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  hr {
    border: none;
    margin: 0;
    border-bottom: 1px solid rgba(0, 36, 107, 0.13);
  }

  a:hover, a:focus, button:hover, button:focus, input[type='submit']:hover, input[type='submit']:focus {
    cursor: pointer
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-style: normal;
  }
</style>
