<template>
  <section>
    <el-select v-model="tagsValues" multiple placeholder="Тэги" @input="filterByTags" no-data-text="Тэги отсутствуют...">
      <el-option v-for="item in tagsOptions" :key="item.code" :value="item.code" :label="item.name" />
    </el-select>
    <el-select :value="rolesValues" multiple placeholder="Роли" @input="filterByRoles" no-data-text="Роли отсутствуют...">
      <el-option v-for="item in rolesOptions" :key="item.code" :value="item.code" :label="item.name" />
    </el-select>
    <el-select v-model="levelsValues" multiple placeholder="Уровни сложности" @input="filterByLevels" no-data-text="Уровни сложности отсутствуют...">
      <el-option v-for="item in levelsOptions" :key="item.code" :value="item.code" :label="item.name" />
    </el-select>
    <el-select v-model="productsValues" multiple placeholder="Продукты" @input="filterByProducts" no-data-text="Продукты отсутствуют...">
      <el-option v-for="item in productsOptions" :key="item.code" :value="item.code" :label="item.name" />
    </el-select>
  </section>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    computed: mapState({
      tagsValues: 'tagsValues',
      rolesValues: 'rolesValues',
      levelsValues: 'levelsValues',
      productsValues: 'productsValues',
      tagsOptions: 'tagsOptions',
      rolesOptions: 'rolesOptions',
      levelsOptions: 'levelsOptions',
      productsOptions: 'productsOptions',
    }),
    methods: mapActions({
      filterByTags: 'filterByTags',
      filterByRoles: 'filterByRoles',
      filterByLevels: 'filterByLevels',
      filterByProducts: 'filterByProducts',
    }),
  }
</script>

<style scoped>
  section {
    padding: 30px;
    display: flex;
    justify-content: space-around !important;
    flex-wrap: wrap;
    justify-content: center;
  }
  .el-select {
    width: 180px;
    min-width: 180px !important;
    margin: 10px;
  }
</style>

