<template>
  <section>
    <el-row>
      <el-col :span="8" v-for="item in list" :key="item.id">
        <el-card :body-style="{ height: '100%', padding: '0' }">
          <div class="card-header" :style="{'background': item.backgroundColor}">
            <img class="image" :src="item.imageLink" />
            <div class="info">
              <span>{{ item.durationMinutesLabel }}</span>
              <span>{{ item.modulesQtLabel }}</span>
            </div>
          </div>
          <div class="card-description">
            <span style="font-size: 20px;font-weight: 600;">{{ item.type }}</span>
            <span style="font-weight: 600;">{{ item.name }}</span>
            <span style="font-style: italic;">{{ item.description }}</span>
            <div class="bottom clearfix">
              <el-button type="warning" icon="el-icon-star-off" circle></el-button>
              <div class="coures-additional-info">
                <div class="card-tags">
                  <span>Теги:</span>
                  <div class="roles" v-for="item in item.roles" :key="item.roles">
                    <el-tag>{{item.name}}</el-tag>
                  </div>
                </div>
                <div class="card-levels" v-for="item in item.levels" :key="item.levels">Уровень:{{item.name}}</div>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </section>
</template>
<script>
import { mapState } from 'vuex'

export default {
  name: 'List',
  computed: mapState({
    list: 'courses',
  }),
}

</script>
<style scoped>
section {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.el-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.el-col {
  display: flex;
  /*margin: 10px;*/
  align-content: center;
  width: 340px;
}

.el-card {
  height: 600px;
  margin: 10px;
}

.card-header {
  display: flex;
  height: 160px !important;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ebeef5;
}

.image {
  margin: auto;
  width: 160px;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 14px;
  height: 422px;
}

.bottom {
  display: flex !important;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.clearfix:after {
  clear: both
}

.coures-additional-info {
  display: flex;
  flex-direction: column;
}

.el-button {
  margin-bottom: 40px;
}

</style>
