<template>
  <div class="lds-dual-ring"></div>
</template>

<script>
  export default {
    name: 'Loading',
  }
</script>

<style scoped>
  .lds-dual-ring {
    display: flex;
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #ebeef5;
    border-color: #ebeef5 transparent #ebeef5 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
